.product {
  max-width: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 200px;
    height: 200px;
  }

  p {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem;
  }
}