.header {
  background: var(--black);
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    img {
      width: 90px;
      height: 40px;
    }

   
  }
}
